body{
    color: #000;
   background-color:silver;
   

}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
}
.navbar a {
    font-size: 18px;
    color:gold;
    text-decoration: none;
    font-weight: 700;
    margin-left: 35px;
    transition:.3s;
    
    
}
.navbar a:hover{
    color:blue;
    height:100%;
    transition:2s;
    text-decoration:4px underline aqua;
    padding-bottom: 10px;

    
}
.navbar a.active{
    color:blue;
}
.header{
    background-color:grey;
    position:fixed;
    width: 100%;
    height:60px;
    left:0;
    top:0;
    padding:20px 25%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}
.logo{
    font-size: 25px;
    color:orangered;
    text-decoration:none;
    font-weight:600;
}
.logo:hover{
    transition-duration: 1s;
    text-shadow:1px 1px 1px blue;

}
.home{
    
    height:100vh;
    display: flex;
    align-items: center;
    padding:0 10%;
    
}
.home-content{
    
    float: left;
    padding: 10px;
    height:300px;
    width:700px;
    }

.home-content h1{
    font-size: 50px;
    font-weight:700;
    line-height: 1.2;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color:aqua
}
.home-content p{
    font-size: 16px;
    margin:20px 0 40px;
}
.home-content .btn-box{
    display:flex;
    justify-content: space-between;
    width: 345px;
    height:50px;
   
}
.btn-box a{
    position: relative ;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height:100%;
    background-color:grey;
    border:2px solid grey;
    border-radius: 8px;
    font-size:19px;
    color:#081b29;
    text-decoration:none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index:1;
    overflow: hidden ;
}
.btn-box a:nth-child(2){
background: transparent;
color:gold;
}
.btn-box a::before{
content: '';
position: absolute;
top:0;
left:0;
width:0;
height:100%;
background: orangered;
z-index:-1;
transition: .5s;

}
.btn-box a:hover::before{
    width:100%

}
.home-sci {
    position: absolute;
    bottom:40px;
    width:170px;
    display:flex;
    justify-content: space-between;
}
.home-sci a{
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    background:transparent;
    border:2px solid orangered;
    border-radius:50%;
    font-size:20px;
    color:orangered;
    text-decoration:none;

}
footer{
    background-color:blue;
    position:fixed;
    width: 100%;
    bottom:0;
    display:flex;

}
.pfooter{
    text-align:center;
    color:white;
    background-color:grey;
    float:left;
    width:100%;
    font-weight: 600;
    font-size:10px;
    margin-top:0;
    padding-bottom:20px;
    
}
.imgb{
    left:0;
}
/*--------------animations----------*/
@keyframes mess {
	0%   	{color: aqua;}
	10%   	{color:  yellow;}
	20%		{color:  orange;}
	30%		{color:  blue;}
	40%		{color:  green;}	
	50%  	{color:  black;}
	60%		{color:  aqua;}
	70%		{color:  yellow;}
	80%		{color:  orange;}
	90%		{color:  blue;}
	100% 	{color:  orange;}
  }
  .pop1{

    
    animation-name: mess;
    animation-delay:1s;
    animation-duration:10s;
    animation-iteration-count:50;
  }